/*----------------------------------------*/
/*------------------base----------------*/
/*-----------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  color: #171717;
  font-family: "Noto Serif JP", "Noto Serif", serif;
}
img {
  width: 100%;
  vertical-align: bottom;
}
.section-wrapper {
  padding: 100px 0 70px;
}
.section-title {
  max-width: 1000px;
  color: #282f35;
  font-size: 6rem;
  font-style: italic;
  margin: 0 auto 80px;
  padding: 0 20px;
  font-weight: bold;
}
.section-title::after {
  content: "";
  display: inline-block;
  background-color: #282f35;
  width: 200px;
  height: 5px;
  margin-left: 30px;
  vertical-align: middle;
}
.section-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}
.section-bottom {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 10rem;
  opacity: 0.05;
}

.link-btn {
  display: block;
  width: 225px;
  line-height: 60px;
  margin: 0 auto 70px;
  background-color: #f7d43f;
  box-shadow: 0 0 6px rgb(27, 19, 16);
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
.link-btn:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.text-right {
  text-align: right;
}
.text-white {
  color: #fff;
}
.section-title.text-white::after {
  background-color: #fff;
}
.sp-br {
  display: none;
}
/*----------------------------------------*/
/*------------------//base----------------*/
/*-----------------------------------------*/
/*----------------------------------------------------header------------------------------*/
.header {
  padding: 0% 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header a {
  color: #ffff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  font-style: italic;
}
.header a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.site-title {
  font-size: 2.6rem;
}
.nav-list {
  display: flex;
}
.nav-item {
  margin-right: 30px;
}
nav-item :last-of-type {
  margin-right: 0;
}
/*------------------------------------------------------//header----------------------*/
/*---------------------------------------------------fv-----------------------*/
.fv {
  height: 100vh;
  min-height: 550px;
  background-image: url(../img/fv-bgi_01@2x.jpg);
  background-size: cover;
  background-position: center;
}
.main-copy {
  position: absolute;
  top: 409px;
  left: 120px;
  color: #fff;
  font-weight: bold;
}
.en-copy {
  font-size: 7rem;
  margin-bottom: 23px;
}
.jp-copy {
  font-size: 4rem;
  text-align: center;
}
/*------------------------------------------------//fv-------------------------*/
/*---------concept--------------*/
.concept-lead {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
  line-height: 1.7;
}

.concept-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.concept-text {
  font-size: 1.6rem;
  font-weight: bold;
  max-width: 440px;
  line-height: 1.8;
}

.concept-img-wrapper {
  max-width: 440px;
  margin-left: 20px;
}
/*---------//concept-----------*/
/*----------works--------------*/
.bg-works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.works-list {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 80px;
  padding: 0 50px;
}
.works-item {
  width: 33%;
  background-color: #fff;
  list-style: none;
}

.works-item a {
  color: #171717;
  text-decoration: none;
}

.works-list-text {
  padding: 25px 20px;
}
/*---------//works-------------*/
/*--------service--------------*/
.service-list {
  display: flex;
}
.service-item {
  width: 33.3%;
  list-style: none;
}

.service-item.service1 {
  background-image: url(../img/service-img01@2x.jpg);
}
.service-item.service2 {
  background-image: url(../img/service-img02@2x.jpg);
}
.service-item.service3 {
  background-image: url(../img/sevice-img03@2x.jpg);
}
.service-item a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 320px;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;
  transition: 0.3s;
}

.service-item a:hover {
  background: rgba(40, 47, 53, 0.7);
  transition: 0.3s;
}
/*-------//service------------*/
/*--------contact-------------*/
.bg-contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.contact-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

/*--------//contact----------*/
/*--------footer-------------*/
footer {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #282f35;
  padding: 30px 0;
}

/*-------//footer-------------*/

@media screen and (max-width: 768px) {
  .section-wrapper {
    padding: 100px 0 40px;
  }
  .site-title {
    margin-bottom: 136px;
  }
  .section-title {
    padding: 0 4vw;
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .section-title::after {
    width: 90px;
  }
  .section-inner {
    padding: 0 4vw;
  }
  .section-bottom {
    font-size: 4rem;
    padding: 0 4vw;
  }
  .link-btn {
    margin-bottom: 40px;
  }

  .header {
    padding: 30px 4vw 0;
  }
  .header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #282f35;
  }
  .nav-list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    margin: 0 0 30px;
  }
  .nav-item:last-of-type {
    margin-bottom: 0;
  }
  .main-copy {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .en-copy {
    font-size: 3.7rem;
    white-space: nowrap;
  }
  .jp-copy {
    font-size: 3rem;
  }
  .sp-br {
    display: block;
  }
  .concept-lead {
    font-size: 2rem;
    margin-bottom: 32px;
  }
  .pc-br {
    display: none;
  }
  .concept-content {
    display: block;
    margin-bottom: 40px;
  }
  .concept-text {
    margin-bottom: 30px;
  }
  .concept-img-wrapper {
    width: 100%;
    margin: 0;
  }
  .works-list {
    display: block;
    padding: 0 4vw;
    margin-bottom: 80px;
  }
  .works-item {
    width: 320px;
    max-width: 100%;
    margin: 0 auto 30px;
  }
  .service-list {
    display: block;
    margin-bottom: 40px;
  }
  .service-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .service-item a {
    line-height: 250px;
  }
}
